html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 80%;
}

input[type='text'], input[type='password']
{
    margin: 2px;
    outline: none;
    border: 1px solid #E0E0E0;
}

.main-body
{
    width: 1000px;
    min-height: 200px;
    margin: 10px auto;
}

.header, .content
{
    margin: 10px;
}

.header .logo
{
    float: left;
    font-family: Magneto;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #333399;
    text-decoration: none;
}

.header .login
{
    float: right;
    text-align: right;
}

.header .login span
{
    font-weight: bold;
}

#mapCanvas
{
    width: 640px;
    height: 480px;
    margin: 0 auto;
}

#homeTabs.ui-widget-content
{
    border: none;
    background: none;
}

#homeTabs .ui-widget-header
{
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

#homeTabs > div
{
    border: 1px solid #AED0EA;
    border-top: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
