@{
    Layout = "~/Areas/Mobile/Views/Shared/_PageLayout.cshtml";
}

@section pageId {page_itinerary}

@section header {
    <h1>@TextStrings.MyItinerary</h1>
    <a href="#page_home" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>
}

@section content {
}
