html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 80%;
}

input[type='text'], input[type='password']
{
    margin: 2px;
    outline: none;
    border: 1px solid #E0E0E0;
}

.main-body
{
    width: 1000px;
    min-height: 200px;
    margin: 10px auto;
}

.header, .content
{
    margin: 10px;
}

.header .logo
{
    float: left;
    font-family: Magneto;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #333399;
    text-decoration: none;
}

.header .login
{
    float: right;
    text-align: right;
}

.header .login span
{
    font-weight: bold;
}

.mapCanvas
{
    width: 640px;
    height: 480px;
    margin: 0 auto;
}

#homeTabs.ui-widget-content
{
    border: none;
    background: none;
}

#homeTabs .ui-widget-header
{
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

#homeTabs > div
{
    border: 1px solid #AED0EA;
    border-top: none;
    height: 480px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*Styles for item lists*/
.item_list
{
    width: 340px;
}

.item_list .inner
{
   overflow-y: auto;
   height: 400px;
}


.itinerary_map
{
    float: left;
}

.itinerary_map_canvas
{
    width: 540px;
    height: 470px;
    margin: 0 auto;   
}

.item_list ul
{
    list-style: none;
    padding: 0px;
}

.item_list li
{
    padding: 5px 0 5px;
}

.item_list li span
{
    display: block;
}

.item_list a {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    height: auto;
    width: 218px;
}

.item_list a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.item_list a:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.left 
{
    float: left;
}

.right
{
    float: right;
}

.reservation_accepted
{
    float: right;
    display: block;
    background: url('images/accept.png') no-repeat right; 
    padding-right: 20px;
}

.reservation_cancelled
{
    float: right;
    display: block;
    background: url('images/cancel.png') no-repeat right; 
    padding-right: 20px;
}

