img.home-logo
{
    margin: 0 auto;
    display: block;
}

.ui-header .ui-title
{
    margin: .6em 20% .8em;
}

.map-canvas
{
    width: 90%;
    height: 300px;
    margin: 0 auto;
}

.map-canvas .map-locating
{
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}
