@{
    Layout = "~/Areas/Mobile/Views/Shared/_PageLayout.cshtml";
}

@section pageId {page_audio_guides}

@section header {
    <h1>@TextStrings.AudioGuides</h1>
    <a href="#page_home" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>
}

@section content {
}
